.enterprise__cta {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 1rem;
}

.enterprise__cta__header {
    width: 878px;
    
    h3 {
        font-family: var(--font-family);
        font-weight: 650;
        font-size: 21px;
        line-height: 40px;

        text-decoration-line: underline;

        color: #002B9A;

        margin-left: 42.5rem;
        margin-top: -5rem;
        cursor: pointer;
    }
}

.enterprise__cta-container {
    flex-wrap:wrap ;

    h1 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;

        color: #0048FF;
        margin-left: 41rem;
        margin-top: 3.5rem;
        position:absolute ;
    }
    
}

.enterprise__cta-container-img {
    width: 1278px;

    img {
        margin-left: 7.2rem;
        position: inherit;
    }
}

.enterprise__cta-container-circle1 {

    img {
        margin-top: -42rem;
        margin-left: 9.5rem;
        position: absolute;
        transform: rotate(136.41deg);
    }
}

.enterprise__cta-container-circle2 {

    img {
        margin-top: -31.5rem;
        margin-left: 20rem;
        position: absolute;
        transform: rotate(136.41deg);
    }
}


.enterprise__cta-container-circle3 {

    img {
        margin-top: -15rem;
        margin-left: 72.5rem;
        position: absolute;
        transform: rotate(136.41deg);
    }
}

.enterprise__cta-container-circle4 {

    img {
        margin-top: -17.5rem;
        margin-left: 71rem;
        position: absolute;
        transform: rotate(136.41deg);
    }
}

.enterprise__cta-container__form-input1 {
    width: 600px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-top: -33.5rem;

    input {
        width: 110%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #E4E4E4;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 26.5rem;
    }
}

.enterprise__cta-container__form-input2 {
    width: 600px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-top: -30rem;

    input {
        width: 110%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #E4E4E4;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 26.5rem;
    }
}

.enterprise__cta-container__form-input3 {
    width: 600px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-top: -26.5rem;

    input {
        width: 110%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #E4E4E4;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 26.5rem;
    }
}

.enterprise__cta-container__form-input__message {
    width: 600px;
    position: absolute;
    margin-top: -23rem;
    flex-direction: column;

    textarea {
        width: 110%;
        padding: 120px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #E4E4E4;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 26.5rem;
        outline: none;
    }
}
