@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(90.79deg, #0048FF 3.42%, #D6008D 82.66%);
  --gradient-bar:  linear-gradient(238.41deg, #09153F 1.24%, #002BC2 57.38%);
  
  --color-bg: #F4F4F4;
  --color-hbg: #F9F9F9;
  --color-footer : #1D0349;
  --color-block1: #EDF7FF;
  --color-block2: #FFF5FF;
  --color-block3: #F9F9F9;
  --color-text: #0048FF;
  --color-subtext: #222222;
  
}
